$clr-light-1: hsl(0 0% 100%);
$clr-primary-3: hsl(229, 8%, 60%);
$clr-accent-4: hsl(231, 69%, 60%);
$clr-accent-5: hsl(0, 94%, 66%);
$clr-dark-8: hsl(229, 31%, 21%);

$ff: "Rubik", sans-serif;

$fw-4: 400;
$fw-5: 500;

$fs-small-1: 0.75rem;
$fs-primary-2: 1rem;
$fs-nav-3: 1.25rem;
$fs-subtitle-6: 1.75rem;
$fs-title-7: 2rem;
$fs-title-new: 4rem;

$trans: all 400ms ease-in-out;

